<div class="container" style="margin-top: 30px;" *ngIf="data !== null">
  <div class="row">
    <div class="col-md-12" *ngFor="let alert of data.menu.alerts">
      <div [ngClass]="['alert-' + alert.type]" class="alert" role="alert">
        {{ alert.text }}
      </div>
    </div>

    <div class="col-md-12" style="margin-bottom: 50px;">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Moderování</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let menuItem of data.menu.items">
              <a (click)="scrollTo(menuItem.tableId)" class="nav-link btn">{{
                menuItem.title
              }}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div
      *ngFor="let table of data.tables"
      [id]="table.id"
      class="col-md-12"
      style="padding-top: 20px; margin-bottom: 30px;"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ table.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ table.description }}
          </h6>

          <div class="progress" style="height: 30px;">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              [ngClass]="[
                table.finishPercentage < 50
                  ? 'bg-danger'
                  : table.finishPercentage < 100
                  ? 'bg-warning'
                  : 'bg-success'
              ]"
              role="progressbar"
              [ngStyle]="{ width: table.finishPercentage + '%' }"
            >
              {{ table.finishPercentage }}% úplnost
            </div>
          </div>
        </div>
      </div>
      <br />

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let tableHeader of table.headings">
              {{ tableHeader.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of table.records; let recordI = index">
            <th *ngFor="let row of record.columns; let rowI = index">
              <span *ngIf="row.badgeBefore" class="badge badge-primary">
                {{ row.badgeBefore }}
              </span>
              <span [ngStyle]="getStyle(table, recordI, rowI)">
                {{ row.text }}
              </span>
              <span *ngIf="row.badgeAfter" class="badge badge-primary">
                {{ row.badgeAfter }}
              </span>
            </th>
          </tr>
        </tbody>
      </table>

      <div
        *ngFor="let alert of table.alerts"
        [ngClass]="['alert-' + alert.type]"
        class="alert"
        role="alert"
      >
        {{ alert.text }}
      </div>
    </div>
  </div>
</div>
